@import url("https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans:ital,wght@1,100;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Grid Layout */
.grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

/* Media Queries */
@media (min-width: 450px) and (max-width: 767px) {
  .grid-layout {
    grid-template-columns: minmax(auto, 400px);
    justify-content: center;
  }
  /* Small screens (450px to 767px): Center the grid with columns no wider than 400px */
}

@media (min-width: 768px) {
  .grid-layout {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Medium screens (768px and up): Display grid with two columns */
}

@media (min-width: 880px) {
  .grid-layout {
    grid-template-columns: repeat(3, 1fr);
  }
  /* Large screens (880px and up): Display grid with three columns */
}

@media (min-width: 1075px) {
  .grid-layout {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0 auto;
  }
  /* Extra large screens (1075px and up): Display grid with four columns, centered with max width 1200px */
}

/* Modal */
.foodModal {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
